@model Company.Models.Passengers

@{
    ViewData["Title"] = "Купить билет";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Buy.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>Покупка билета</header>
    <main>
        <form asp-action="Payment" asp-controller="Flight" method="post">
            <h3>Введите личные данные</h3>
            <hr />
            <input type="hidden" name="id" value="@ViewBag.Id" />
            <input type="hidden" name="seatNumber" value="@ViewBag.SeatNumber" />
            <input type="hidden" name="passportData" value="@ViewBag.PassportData" />
            @if (ViewBag.PassengerId != null)
            {
                <input type="hidden" name="passengerId" value="@ViewBag.PassengerId" />
            }
            <div>
                <label for="lastName">Фамилия</label><br>
                <input type="text" id="lastName" name="lastName"><br><br>
            </div>
            <div>
                <label for="firstName">Имя</label><br>
                <input type="text" id="firstName" name="firstName"><br><br>
            </div>
            <div>
                <label for="patronymic">Отчество</label><br>
                <input type="text" id="patronymic" name="patronymic"><br><br>
            </div>
            <div>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email"><br><br>
            </div>
            <h3>Введите данные для оплаты</h3>
            <hr />
            <div>
                <label for="card_number">Номер карты:</label><br>
                <input type="text" id="card_number" name="card_number"><br><br>
            </div>
            <div>
                <label for="expiry_date">Срок действия:</label><br>
                <input type="month" id="expiry_date" name="expiry_date"><br><br>
            </div>
            <div>
                <label for="cvv">CVV:</label><br>
                <input type="text" id="cvv" name="cvv"><br><br>
            </div>
            <input type="submit" value="Купить">
        </form>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ПассажирскийПуть - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
<script src="~/js/buyTicket.js"></script>
</html>